anime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="anime">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="duracion" type="xs:string"/>
        <xs:element name="genero" type="xs:string"/>
        <xs:element name="fechaLanzamiento" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>